defaults: &defaults
  working_directory: ~/project/repo
  docker:
    - image: circleci/node:latest@sha256:07f5eb2319d28789ace0b97775c86d68e68bd406c810af3b74fd8c5368454f83

version: 2
jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ .Branch }}-{{ checksum "yarn.lock" }}
          - v1-dependencies-{{ .Branch }}-
          - v1-dependencies-
      - run: yarn install --frozen-lockfile
      - save_cache:
          key: v1-dependencies-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run: yarn test
      - run: yarn codeclimate-test-reporter
      - persist_to_workspace:
          root: ~/project
          paths:
            - repo
  release:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/project
      - run: .circleci/setup-git.sh > /dev/null 2>&1
      - run: yarn semantic-release

workflows:
  version: 2
  test_and_release:
    jobs:
      - test:
          context: Testing
      - release:
          context: Release
          requires:
            - test
