@import "../../node_modules/picnic/src/picnic";

// colors
$black: #333;
$white: #ddd;

body {
  background: $black;
}

.github-corner-container {
    position: fixed;
    right: 0;
    z-index: 10;
    transition: all .3s;
}

.github-corner:hover .octo-arm{
  animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave{
  0%,100%{transform:rotate(0)}
  20%,60%{transform:rotate(-25deg)}
  40%,80%{transform:rotate(10deg)}
}
@media (max-width:500px){
  .github-corner:hover .octo-arm{animation:none}
  .github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}
}

.hero {
  position: relative;
  width: 100%;

  // http://stackoverflow.com/a/28151062/938236
  height: 100%;
  height: 100vh;
  transition: height 999999s;
  text-align: center;
  min-height: 300px;
  color: $white;
  padding: 1px 0;
  background: $black;
  background-size: cover;

  // Vertical center for the content
  .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  h1 {
    font-size: 3em;
    line-height: 1;
    padding: 0;
  }

  p {
    margin: 0;
  }

  .slogan {
    font-size: 1.3em;
  }

  #theBestPassword {
    width: 30em;
    color: $black;
    margin-bottom: 0;
    text-align: center;
    border-radius: 0;
    margin: 1.3em auto .3em;
  }

  @keyframes bounce {
    from { bottom: 20px; }
    70% { bottom: 10px; }
    to { bottom: 20px; }
  }
}
